/*Header Starts Here */
.section {
    
    background-color: #fff;
    padding: 20px;
    margin-bottom: 40px;
    margin-top: 20px;
    border-radius: 40px;
    font-variant:small-caps;
        
    }
 #header h1 {
    font-size: 40pt;
    font-variant:small-caps;
    color:#000;
    font-weight: bold;
    text-align: center;
    }
#header p {
    font-size: 25pt;
    font-variant: small-caps;
    color:#17202A;
    padding-top: 5px;
    font-weight: bold;
    text-align: center;
    }
/*Header Starts Here */

/*Body Starts Here*/
body {
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 15pt;
    font-variant: small-caps;
    background-color:#FFDEAD;
    
    margin-right: 30px;
}
/*Body Ends Here*/

/*Nav Bar Starts Here*/

#tr {
    font-weight: 700;
    background-color:#FFDEAD;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    
    
}

a:hover {
    color:#ff9900;
    text-decoration: none;
    font-size: 30px;
}
/*Nav Bar Ends Here*/

/*Article Section Starts Here*/
#art1 {
    text-align: center;
}
.text1 {
    text-align: justify;
    margin-left: 200px;
    margin-right: 200px;
}
.text2 {
    text-align: justify;
    margin-left: 200px;
    margin-right: 200px;
}
.TitreRecette {
    font-size: medium;
    font-weight: 600;
    color: #154360;
    }

        /* Home Page Article concernant le Concept*/
    #concept {
    background-image: url(Images_Site_Web/Partenaires_Légume_Fruit_light.jpg);
    
}

/*Article Section Ends Here*/

/*Footer Section Starts Here*/
#footer {
    background: linear-gradient(to top, #ffffff 0%, #ffffcc 102%);
    font-size: medium;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 10px;
    font-weight: 600;
    border-radius: 20px; 
    padding:20px;
}
.CouleurText1 {
    color: #154360;
}
/*Footer Section Ends Here*/

/* Media Queries Start Here */

            



/* Sur les écrans quand la largeur de la fenêtre fait au maximum exemple */
@media all and (max-width:768px) {
       
        .image {width: 280px;}
        img {width: 200px;} 
        #tr {display: block; }
        .text1 {width: 250px; text-align: left; margin-left:25px; margin-right:-50px; text-align:justify;}
        .text2 {width: 250px; text-align: left; margin-left:25px; margin-right:-50px; text-align:justify;}

        
          


                
            

}

  
            /* Sur tous types d'écran quand la largeur de la fenêtre est comprise entre 1024px et 1280px */
@media all and (min-width:769px) and (max-width:1024px) {

            section
            img {width:150px;}
            #tr {display: block; }
   
    




}
    
 
            
            /* Sur tous types d'écran quand la largeur de la fenêtre est comprise entre 1024px et 1280px */
@media all and (min-width:768px) and (max-width:1388px) {
     


            }


           /* Sur les téléviseurs */
@media tv {


            }
            
            /* Sur tous types d'écrans orientés verticalement */
@media all and (orientation:portrait) {


            }


            